<div class="col-xs-10 mx-auto">
  <!-- PROGRESS BAR -->
  <div
    class="progress  mb-3"
    style="height: 15px; margin-left: -15px; margin-right: -15px;"
  >
    <div
      class="progress-bar"
      role="progressbar"
      aria-valuenow="20"
      aria-valuemin="0"
      aria-valuemax="100"
      style="width:40%"
    >
      2 / 5
    </div>
  </div>
  <!-- PHYSICAL DATA -->
  <h3 class="text-center">Physical data</h3>
  <p class="text-center mb-2">
    <b>Fields marked with <span class="text-danger">*</span> are mandatory.</b>
  </p>
  <hr />
  <!-- GENDER -->
  <form class="needs-validation" id="step2Form" #step2Form="ngForm">
    <div class="form-group">
      <label style="margin:0px" for="validationCustomGender"
        >Gender&nbsp;<span class="text-danger">*</span></label
      >
      <div class="input-group">
        <select
          class="form-control"
          id="validationCustomGender"
          [(ngModel)]="values.store.gender"
          (change)="setData('gender', genderInput.value)"
          #genderInput
          name="validationCustomGender"
          aria-describedby="validationCustomGenderHelp"
        >
          <option selected value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
        <div class="invalid-feedback" id="validationCustomGenderHelp">
          Please select your gender.
        </div>
      </div>
    </div>
    <!-- HEIGHT -->
    <div class="form-group">
      <label for="id" style="margin:0px"
        >Height (centimeters)&nbsp;<span class="text-danger">*</span></label
      >
      <input
        type="number"
        name="validationCustomHeight"
        id="validationCustomHeight"
        #heightInput
        [(ngModel)]="values.store.height"
        (change)="setData('height', heightInput.value)"
        class="form-control"
        placeholder="e.g. 177"
        aria-describedby="validationCustomHeightHelp"
        required
      />
      <div class="invalid-feedback" id="validationCustomHeight">
        Insert a correct height
      </div>
    </div>
    <!-- EYE COLOR -->
    <div class="form-group">
      <label for="validationCustomColor" style="margin:0px"
        >Eye color&nbsp;<span class="text-danger">*</span></label
      >
      <div class="input-group">
        <select
          class="form-control"
          id="validationCustomColor"
          #eyeColorInput
          [(ngModel)]="values.store.color"
          (change)="setData('color', eyeColorInput.value)"
          name="validationCustomColor"
          aria-describedby="validationCustomColorHelp"
        >
          <option value="Brown" selected>Brown</option>
          <option value="Blue">Blue</option>
          <option value="Green">Green</option>
          <option value="Grey">Grey</option>
          <option value="Combination">Combination</option>
        </select>
        <div class="invalid-feedback" id="validationCustomColorHelp">
          Please select your eye color.
        </div>
      </div>
    </div>
    <!-- BUTTONS 2 -->
    <div class="mt-5 mb-3">
      <div class="space-around">
        <button
          style="position: absolute; right: 20px"
          class="btn btn-primary"
          (click)="onNavigate('forward')"
        >
          Proceed&nbsp;&nbsp;<i class="fa fa-arrow-right"></i>
        </button>
        <button
          style="position: absolute; left: 20px"
          class="btn btn-secondary"
          id="button1"
          routerLink="/id-application/create/form/personal-data"
        >
          <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Go back
        </button>
      </div>
    </div>
  </form>
</div>
