<!-- STEP 5 -->
<div class="col-xs-10 mx-auto">
  <!-- PROGRESS BAR -->
  <div
    class="progress  mb-3"
    style="height: 15px; margin-left: -15px; margin-right: -15px;"
  >
    <div
      class="progress-bar"
      role="progressbar"
      aria-valuenow="20"
      aria-valuemin="0"
      aria-valuemax="100"
      style="width:100%"
    >
      5 / 5
    </div>
  </div>
  <!-- DOCUMENTS -->
  <h3 class="text-center">Documents</h3>
  <p class="text-center mb-2">
    <b>Fields marked with <span class="text-danger">*</span> are mandatory.</b>
  </p>
  <hr />
  <form class="needs-validation" id="step5Form" #step5Form="ngForm">
    <!-- REQUIRED DOCUMENTS -->
    <h4>Required documents</h4>
    <div class="form-group">
      <!-- ID Photo input -->
      <label style="margin:0px" for="validationCustomPhoto"
        >Original ID&nbsp;<span class="text-danger">*</span></label
      >
      <div class="input-group">
        <input
          style="padding:0px"
          type="file"
          accept=".jpg, .png"
          required
          #fileOriginalID
          name="validationCustomOriginalID"
          id="validationCustomOriginalID"
          (change)="uploadDocument(1, fileOriginalID.value)"
          class="form-control"
          aria-describedby="validationCustomOriginalIDHelp"
        />
        <div class="input-group-prepend" (click)="resetInput('fileOriginalID')">
          &nbsp;&nbsp;<i
            style="font-size: 20px; color: grey; margin-top: 4px"
            class="fa fa-trash"
          ></i>
        </div>
        <div class="invalid-feedback" id="validationCustomOriginalIDHelp">
          Insert the original ID
        </div>
      </div>
    </div>
    <!-- Birth certificate input -->
    <div class="form-group">
      <label style="margin:0px" for="validationCustomBirthCertificate"
        >Document to act as proof of requrested change&nbsp;<span
          class="text-danger"
          >*</span
        ></label
      >
      <div class="input-group">
        <input
          style="padding:0px"
          type="file"
          accept=".pdf, .jpg, .png"
          required
          #fileProof
          name="validationCustomBirthCertificate"
          id="validationCustomBirthCertificate"
          (change)="uploadDocument(2, fileProof.value)"
          class="form-control"
          aria-describedby="validationCustomBirthCertificateHelp"
        />
        <div class="input-group-prepend" (click)="resetInput('fileProof')">
          &nbsp;&nbsp;<i
            style="font-size: 20px; color: grey; margin-top: 4px"
            class="fa fa-trash"
          ></i>
        </div>
        <div class="invalid-feedback" id="validationCustomBirthCertificateHelp">
          Insert a proof document
        </div>
      </div>
    </div>
    <!-- BUTTONS 5 -->
    <div class="mt-5 mb-5 pb-5">
      <div class="space-around">
        <button
          (click)="validateFinalForm('forward')"
          style="position: absolute; right: 20px"
          class="btn btn-primary"
        >
          Proceed&nbsp;&nbsp;<i class="fa fa-arrow-right"></i>
        </button>
        <button
          style="position: absolute; left: 20px"
          class="btn btn-secondary"
          id="button1"
          routerLink="/id-application/correct/form/adress-data"
        >
          <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Go back
        </button>
      </div>
    </div>
  </form>
</div>

<!-- FEEDBACK MODAL -->
<div
  class="modal fade"
  id="feedbackModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="feedbackModalLabel"
  aria-hidden="true"
>
  <!-- MODAL -->
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="feedbackModalLabel">Final data</h2>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          tabindex="1"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-xs-10 mx-auto mt-3">
          <form>
            <!-- STEP 1 DATA -->
            <div class="form-group ml-3">
              <h4 class="text-center">Personal data</h4>
              <div class="row">
                <b style="margin:0px">Full Name:&nbsp;&nbsp;</b>
                <span>{{ values.store2.firstName }}&nbsp;</span>
                <span>{{ values.store2.surname }}</span>
              </div>
              <div class="row">
                <b style="margin:0px">Marital status:&nbsp;&nbsp;</b>
                <span>{{ values.store2.maritalStatus }}&nbsp;</span>
              </div>
              <div *ngIf="values.store2.prevSurname != null" class=" row">
                <b style="margin:0px">Previous surname:&nbsp;&nbsp;</b>
                <span>{{ values.store2.prevSurname }}</span>
              </div>
              <hr />
            </div>
            <!-- STEP 2 DATA -->
            <div class="form-group ml-3">
              <h4 class="text-center">Physical data</h4>
              <div class="row">
                <b style="margin:0px">Gender: &nbsp;&nbsp;</b>
                <span>{{ values.store2.gender }}&nbsp;</span>
              </div>
              <div class="row">
                <b style="margin:0px">Height:&nbsp;&nbsp;</b>
                <span>{{ values.store2.height }}</span>
              </div>
              <div class="row">
                <b style="margin:0px">Eye color:&nbsp;&nbsp;</b>
                <span>{{ values.store2.color }}</span>
              </div>
              <hr />
            </div>
            <!-- STEP 3 DATA -->
            <div class="form-group ml-3">
              <h4 class="text-center">Birth data</h4>
              <div class="row">
                <b style="margin:0px">Date of birth: &nbsp;&nbsp;</b>
                <span *ngIf="!values.store2.date">27/11/1989</span>
                <span>{{ values.store2.date }}&nbsp;</span>
              </div>
              <div class="row">
                <b style="margin:0px">Country:&nbsp;&nbsp;</b>
                <span>{{ values.store2.country }}</span>
              </div>
              <div class="row">
                <b style="margin:0px">City:&nbsp;&nbsp;</b>
                <span>{{ values.store2.place }}</span>
              </div>
              <hr />
            </div>
            <!-- STEP 4 DATA -->
            <div class="form-group ml-3">
              <h4 class="text-center">Address data</h4>
              <h5>Fixed residential address</h5>
              <div class="row">
                <b style="margin:0px">Street and house number: &nbsp;&nbsp;</b>
                <span>{{ values.store2.residenceStreet }}&nbsp;</span>
              </div>
              <div class="row">
                <b style="margin:0px">City:&nbsp;&nbsp;</b>
                <span>{{ values.store2.residenceCity }}</span>
              </div>
              <div class="row">
                <b style="margin:0px">Postal code:&nbsp;&nbsp;</b>
                <span>{{ values.store2.residencePostalCode }}</span>
              </div>
              <div class="mt-3" *ngIf="values.store2.currentCity != null">
                <h5>Postal address</h5>
                <div class="row">
                  <b style="margin:0px"
                    >Street and house number: &nbsp;&nbsp;</b
                  >
                  <span>{{ values.store2.currentStreet }}&nbsp;</span>
                </div>
                <div class="row">
                  <b style="margin:0px">City:&nbsp;&nbsp;</b>
                  <span>{{ values.store2.currentCity }}</span>
                </div>
                <div class="row">
                  <b style="margin:0px">Postal code:&nbsp;&nbsp;</b>
                  <span>{{ values.store2.currentPostalCode }}</span>
                </div>
              </div>
              <hr />
            </div>
            <!-- STEP 5 DATA -->
            <div class="form-group ml-3">
              <h4 class="text-center">Uploaded documents</h4>
              <ul>
                <li style="margin:0px">
                  Original ID: {{ values.store2.documentOldID }}
                </li>
                <li style="margin:0px">
                  Proof: {{ values.store2.documentProof }}
                </li>
              </ul>
            </div>
          </form>
        </div>
        <!-- BUTTONS MODAL -->
        <div class="modal-footer" style="padding-left:0px; padding-right:0px">
          <div class="container" style="padding:0px;">
            <div class="space-around">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                data-dismiss="modal"
                tabindex="2"
                routerLink="/id-application/appointment/details"
              >
                Complete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
