<!-- MODAL -->
<div class="mt-3" role="document">
  <h2 id="feedbackModalLabel">Duplicate ID</h2>
  <span class="mt-3 mb-5">
    <span class="text-danger">**</span>&nbsp;&nbsp;All the information is
    up-to-date. There is no need to upload any document.
  </span>
  <hr />
  <div class="col-xs-10 mx-auto mt-">
    <form>
      <!-- STEP 1 DATA -->
      <div class="form-group ml-3">
        <h4 class="text-center">Personal data</h4>
        <div class="row">
          <b style="margin:0px">Full Name:&nbsp;&nbsp;</b>
          <span>Sackaria&nbsp;</span> <span>Ellina</span>
        </div>
        <div class="row">
          <b style="margin:0px">Marital status:&nbsp;&nbsp;</b>
          <span>Single&nbsp;</span>
        </div>
        <hr />
      </div>
      <!-- STEP 2 DATA -->
      <div class="form-group ml-3">
        <h4 class="text-center">Physical data</h4>
        <div class="row">
          <b style="margin:0px">Gender: &nbsp;&nbsp;</b>
          <span>Female&nbsp;</span>
        </div>
        <div class="row">
          <b style="margin:0px">Height:&nbsp;&nbsp;</b> <span>165</span>
        </div>
        <div class="row">
          <b style="margin:0px">Eye color:&nbsp;&nbsp;</b> <span>Brown</span>
        </div>
        <hr />
      </div>
      <!-- STEP 3 DATA -->
      <div class="form-group ml-3">
        <h4 class="text-center">Birth data</h4>
        <div class="row">
          <b style="margin:0px">Date of birth: &nbsp;&nbsp;</b>
          <span>15/05/1989&nbsp;</span>
        </div>
        <div class="row">
          <b style="margin:0px">Country:&nbsp;&nbsp;</b> <span>Namibia</span>
        </div>
        <div class="row">
          <b style="margin:0px">City:&nbsp;&nbsp;</b> <span>Windhoek</span>
        </div>
        <hr />
      </div>
      <!-- STEP 4 DATA -->
      <div class="form-group ml-3">
        <h4 class="text-center">Address data</h4>
        <h5>Fixed residential address</h5>
        <div class="row">
          <b style="margin:0px">Street and house number: &nbsp;&nbsp;</b>
          <span>Nemsa street 5&nbsp;</span>
        </div>
        <div class="row">
          <b style="margin:0px">City:&nbsp;&nbsp;</b> <span>Windhoek</span>
        </div>
        <div class="row">
          <b style="margin:0px">Postal code:&nbsp;&nbsp;</b> <span>11002</span>
        </div>
        <hr />
      </div>
    </form>
  </div>
  <!-- BUTTONS MODAL -->
  <div class="space-around mb-3">
    <button
      type="button"
      class="btn btn-secondary"
      routerLink="/id-application/welcome"
    >
      <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Back
    </button>
    <button
      type="button"
      class="btn btn-primary"
      tabindex="2"
      routerLink="/id-application/appointment/details"
    >
      Proceed&nbsp;&nbsp;<i class="fa fa-arrow-right"></i>
    </button>
  </div>
</div>
